<h1> Welcome to Bill Splitting App!</h1>
<table class="table table-bordered" width= "500">
  <thead>
  	 <tbody>
      <tr>
        <td><%= link_to "Add Your Friends", new_user_path %></td>
        <td><%= link_to 'See your added friends', users_path %></br></td>
      </tr>
       <tr>
        <td><%= link_to "Add Your Bills", new_bill_path %></td>
        <td><%= link_to 'See your added bills', bills_path %></br></td>
      <tr>
      	<td><%= link_to "Split it up!", bills_path %></td>
      </tr>
  </tbody>
   
  </thead>
</table>
<br>

