<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.collection_select(:user_id, User.all, :id, :name) %></br></br>
  </div>

  <div class="field">
    <%= f.label :paid_amount %><br></br>
    <%= f.number_field :paid_amount %></br></br>
  </div>

  <div class="actions">
    <%= f.submit "Save" %></br></br>
  </div>

  <%= f.hidden_field :bill_id, :value => params[:bill_id] %>
<% end %>
